<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSRF Token -->
        <meta name="csrf-token" content="fTEw72rOAVys8bMhRHEHfL8gi708mSOf9yj9bwOI">

        <title>Quiz App</title>
        <!-- googel font -->

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
        
        <!-- Font Awesome -->

        <!-- Styles -->

        <link href="/styles/bootstrap.min.css" rel="stylesheet">
        <link href="/styles/style.css" rel="stylesheet">
    </head>
    <body>