<% include ./header.ejs %>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wrapper quizMain">
                    <pre>
                        <h1>Simple Quiz App</h1>
                        <form>
                            <div class="form-group buttonStart">
                                    <a class="btn btn-primary" href="/quiz"> Start Quiz </a>
                            </div>
                        </form>
                    </pre>
                </div>
            </div>
        </div>
<% include ./footer.ejs %>